<nav>
    <ul>
        <li><a asp-controller="Dashboard" asp-action="Index" class="home">Home</a></li>
        <li><a asp-controller="Profile" asp-action="Index" class="profile">Profile</a></li>
        <li><a asp-controller="Shop" asp-action="Index" class="shop">Shop</a></li>
        <li><a asp-controller="Merchandise" asp-action="Index" class="merchandise">Merchindise</a></li>
        <li><a asp-controller="Shipper" asp-action="Index" class="shipment">Shipment</a></li>
        <li><a asp-controller="Cart" asp-action="Index" class="mycart">My Cart</a></li>
        <li><a asp-controller="Admin" asp-action="Index" class="admin">Admin</a></li>
        <li><a asp-controller="History" asp-action="Index" class="history">History</a></li>
    </ul>
</nav>
