@section Breadcrumbs{ 
    <div class="content-breadcrumbs">
        <p class="content-breadcrumbs text">Home</p>
    </div>
}
<div class="container-dashboard">
    <h1 class="header-dashboard">Selamat Datang di Troll Market</h1>
    <p class="text-dashboard">
        Ini adalah market place yang tidak pernah ada promosi dan diskon. Karena ini hanya asignment buat kalian, jadi buat apa ada diskon dan promo
    </p>
</div>